
* {
    background-color: aqua;
}
h1 {
    text-align: center;
    color: rgb(235, 6, 6);

}
a {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
}
a:hover{
    color: blue;
}
#garlic {
   height: auto;
   width: 500px;
   border-style: solid;
}
h3 {
    color: blue;
    text-decoration: underline;
}
#sweet {
    border-style: solid;
 }
#south {
    height: auto;
   width: 500px;
   border-style: solid;
  }
 div {
     text-align: center;
     height: auto;
    width: auto;
    }
  .right,.lright{
      margin-left: 30px;
  }
 .right {
     margin-right: 70px;
 }
 .center {
     margin-right: 60px;
 }
 .lright {
     margin-right: 150px;
 }
 .lcenter {
      margin-right: 200px;
 }
 .center,.right,.left {
     margin-bottom: 20px;
 }
 p.inside {
     text-align: center;
     border-top-style: solid;
     border-bottom-style:solid ;
     padding: 10px;
 }
 hr {
     
     border-color: rgb(7, 85, 230);
     
 }
 .gar {
     padding: 20px;
     margin-left: 40px;
   padding-bottom: 40px;
 }
 .swe,.sou {
     margin-left: 100px;
     padding: 20px;
      }   
 .gar,.sou,.swe {
    display: inline-flex;
    width: 200px;
    height: auto;
    text-align: center;
    border-style: dotted;
    
 }
 